<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> add user</title>
</head>

<body>

    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong> Add order </strong>
            </c-card-header>

            <c-card-body>
                <div class="col-md-12">
                    <form [formGroup]="form" (ngSubmit)="addOrder()">
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="order_name" class="form-label"> order</label>
                                <input type="text" name="order_name" id="order_name" formControlName="order_name" class="form-control" required>

                                <!-- <select (change)="onSelect($event)" cSelect>
                                    <option>Select order... </option>
                                    <option *ngFor="let stock of stocks" [value]="stock.order_id">{{stock.order_name}}</option>
                                </select> -->
                                
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="order_price" class="form-label"> Price</label>
                                <input type="text" name="order_price" id="order_price" formControlName="order_price" class="form-control" required>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="order_unit" class="form-label"> Unit</label>
                                <input type="text" name="order_unit" id="order_unit" (input)="setBalance($event)" formControlName="order_unit" class="form-control" required>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="order_balance" class="form-label"> Balance </label>
                                <!-- <input type="text" name="order_balance" id="order_balance" formControlName="order_balance" class="form-control" required> -->
                                <input 
                                name="order_balance" 
                                id="order_balance" 
                                class="form-control" 
                                cFormControl
                                readOnly
                                type="text"
                                [(ngModel)]="order_balance"
                                formControlName="order_balance"
                                required
                                />
                            </div>
                        </div>
                 
                        <div class="row">
                            
                            <div class="col-md-6 form-group mb-3">
                                <label for="order_description" class="form-label">Description </label>
                                <input type="text" name="order_description" id="order_description" formControlName="order_description" class="form-control" required>
                                <!-- <textarea cFormControl id="order_description" rows="3" required></textarea> -->
                            </div>
                            <!-- <div class="col-md-3 form-group mb-3">
                                <label for="order_created_date" class="form-label"> Date</label>
                                <ejs-datetimepicker format="yyyy-MM-dd HH:mm:ss" formControlName="order_created_date" required> </ejs-datetimepicker>
                            </div> -->


                            <div class="col-md-3 form-group mb-3">
                                <label for="order_created_by" class="form-label"> Created By</label>
                                <input 
                                name="order_created_by" 
                                id="order_created_by" 
                                class="form-control" 
                                cFormControl
                                readOnly
                                type="text"
                                [(ngModel)]="order_created_by"
                                formControlName="order_created_by"
                                required
                                />
                            </div>

                        </div>

                        <div class="row" style="text-align: center;">
                            <div class="align-items-center mb-3">
                                <input cButton class="me-1" color="success" type="submit" value="Submit">
                                <input cButton class="me-1" color="light" type="reset" value="Reset">
                                <!-- <input cButton (click)="showProfile()" class="me-1" > -->
                            </div>
                            
                        </div>
                    </form>
                </div>
            </c-card-body>
        </c-card>
    </c-col>
</body>
</html>