<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> add user</title>
</head>

<body>

    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong> Update Product </strong>
            </c-card-header>
            <c-card-body>

                <div class="col-md-12">

                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-12 form-group mb-3">
                                <label for="product_name" class="form-label"> product_name</label>
                                <input type="text" name="product_name" id="product_name" formControlName="product_name" class="form-control" [placeholder]="product?.product_name" required>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 form-group mb-3">
                                <label for="product_price" class="form-label"> product_price</label>
                                <input type="text" name="product_price" id="product_price" formControlName="product_price" class="form-control" [placeholder]="product?.product_price" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group mb-3">
                                <label for="product_unit" class="form-label"> product_unit</label>
                                <input type="text" name="product_unit" id="product_unit" formControlName="product_unit" class="form-control" [placeholder]="product?.product_unit" required>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 form-group mb-3">
                                <label for="product_balance" class="form-label"> product_balance </label>
                                <input type="text" name="product_balance" id="product_balance" formControlName="product_balance" class="form-control" [placeholder]="product?.product_balance" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group mb-3">
                                <label for="product_description" class="form-label">product_description </label>
                                <input type="text" name="product_description" id="product_description" formControlName="product_description" class="form-control" [placeholder]="product?.product_description" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group mb-3">
                                <label for="product_created_date" class="form-label"> product_created_date</label>
                                <input type="text" name="product_created_date" id="product_created_date" formControlName="product_created_date" class="form-control" [placeholder]="product?.product_created_date" required>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-md-12 form-group mb-3">
                                <label for="product_created_by" class="form-label"> product_created_by</label>
                                <input type="text" name="product_created_by" id="product_created_by" formControlName="product_created_by" class="form-control" [placeholder]="product?.product_created_by" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" value="submit" class="btn btn-primary w-100" [disabled]="!form.valid"> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </c-card-body>
        </c-card>
    </c-col>
</body>
</html>